body,
html {
    overflow-x: hidden;
}

body {
    background-image: url("../img/bg-pattern.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layout-light {
    background-image: none;
    background-color: lighten($light-gray, 1%);
    min-height: 100%;
}

.section {
    padding: rem-calc(50 0);
    @include breakpoint(large) {
        padding: rem-calc(100 0);
    }
    @include breakpoint(medium) {
        padding: rem-calc(60 0);
    }

    .button {
        margin-bottom: rem-calc(30);
    }
}

.section--interesting-facts {
    padding-top: rem-calc(0);
    margin-top: rem-calc(-10);
}

.section--results {
    .grid-container {
        margin-bottom: rem-calc(50);
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.profile-picture {
    border-radius: 100%;
    overflow: hidden;
    width: rem-calc(50);
    height: rem-calc(50);
}

.block {
    padding: rem-calc(25);
    background-color: $white;
    @include breakpoint(medium) {
        padding: rem-calc(35);
    }

    .chart-bar {
        padding: rem-calc(0 20);
        @include breakpoint(medium) {
            padding: rem-calc(0 30);
        }
    }

    &.shadow {
        box-shadow: 0 20px 40px 0 rgba(0,0,0,0.09);
    }
}

