.layout-light {
    color: $black;
}

.lead {
    font-size: rem-calc(24);
    line-height: rem-calc(28);
}

.h4,
h4 {
    font-weight: 600;
}

.pre-headline {
    margin-bottom: rem-calc(20);
}

.warning {
    margin-bottom: rem-calc(20);
}
/* color variables */
.color-black {
    color: $black;
}

.color-success {
    color: $success-color;
}

.color-alert {
    color: $alert-color;
}

.color-warning {
    color: $warning-color;
}
